.container {
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;

    @media (max-width: 600px) {
      flex-direction: column;
      justify-content: center;
      text-align: center;
      gap: 15px;

      .btn {
        width: auto;
        padding: 6px;
        font-size: 12px;
      }
    }
  }

  .table-container {
    width: 100%;
    border: 1px solid #e7e6e6;
    text-align: center;
    border-collapse: collapse;
    box-shadow: 0 5px 10px rgb(67 66 66 / 8%);
    transition: box-shadow 0.3s ease, transform 0.2s ease;
    border-radius: 6px;
    padding: 8px 10px;
    overflow: hidden;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;

    .table {
      min-width: 650px;
      margin: 0 auto;

      .actions {
        display: flex;
        gap: 10px;
        justify-content: center;

        th {
          background-color: #f9f9f9;
          font-weight: 600;
        }
      }

      th,
      td {
        white-space: nowrap;
        padding: 10px 12px;
        border-bottom: 1px solid #eee;
        border-right: 0.7px solid #f1f1f1;
      }

      th:last-child,
      td:last-child {
        border-right: none;
      }

      @media (max-width: 600px) {
        font-size: 14px;
        th,
        td {
          font-size: 14px;
        }

        .btn {
          width: auto;
          padding: 6px;
          font-size: 12px;
        }
      }
    }
  }

  .pagination {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 15px;

    @media (max-width: 650px) {
      gap: 10px;
      text-align: center;

      span {
        font-size: 12px;
      }

      button {
        font-size: 12px;
        padding: 6px;
      }
    }
  }
}
