.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  width: 100%;
}

.header {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    gap: 3px;

    .search {
      width: 90%;
    }
  }
  @media (max-width: 768px) {
    font-size: 14px;

    & .btn {
      padding: 5px;
      font-size: 14px;
    }
  }
}

.table-container {
  width: 70%;
  text-align: center;

  .actions {
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  @media (max-width: 768px) {
    font-size: 16px;
    width: 60%;

    & .actions {
      padding: 5px;
      font-size: 14px;
    }
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;

  @media (max-width: 768px) {
    font-size: 16px;
    width: 60%;

    & .btn {
      padding: 5px;
      font-size: 14px;
    }
  }
}
